body {
  background-color: #f2f2f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 30px;
  position: center;
  line-height: 1.3;
}

h1 {
  background-color: #00b7ff;
  color: #ffffff;
  padding: 15px;
}

a, a:link, a:visited {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.related-topics {
  background-color: #d9d9d9;
  border-radius: 15px;
  padding: 5px 15px 10px 15px;
  margin-top: 50px;
}

div.related-topics h1, h2, h3 {
  color: #666666;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 20px;
}

div.footer {
  background: #00b7ff;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  margin-top: 50px;
  text-align: right;
}

div.footer a {
  height: 50px;
  color: white;
  font-size: 80%;
}
